
body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', 'Helvetica', sans-serif;
}

button {
  margin-top: 10px;
}

.dashboard-wrapper {
	align-self: center;
	min-width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.cards-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.cards-wrapper .card-item {
  margin-top: 40px;
}

.simple-card-wide.mdl-card.mdl-shadow--2dp {
  min-width: 100%;
  min-height: 300px;
}

.simple-card-wide.mdl-card.mdl-shadow--2dp > .mdl-card__title {
  color: #fff;
  height: 250px;
}

.simple-card-wide.mdl-card.mdl-shadow--2dp > .mdl-card__title h2.mdl-card__title-text {
  width: 110%;
  margin: -16px;
  padding: 10px 16px;
  background: rgba(0,0,0,0.5);
}

.simple-card-wide.mdl-card.mdl-shadow--2dp > .mdl-card__menu {
  color: #fff;
}

@media (min-width: 640px) {
  .cards-wrapper .card-item.simple-card-wide.mdl-card.mdl-shadow--2dp {
    min-width: 48%;
  }
}

@media (min-width: 1024px) {
  .dashboard-wrapper {
    min-width: 1200px;
  }
}
